@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .box-price {
        @apply flex w-full max-w-sm flex-col space-y-6 rounded-lg border-[16px] border-gray-700 bg-gray-800 py-10 text-white shadow-lg hover:border-violet-600;
    }

    .box-active {
        @apply border-violet-700;
    }

    .box-price-info {
        @apply mt-6 flex flex-col space-y-2 border-t border-gray-700 py-6 px-8 text-center text-sm;
    }

    .box-price-info-item {
        @apply flex items-center justify-center space-x-3;
    }

    .btn-primary {
        @apply mx-auto w-[150px] rounded-lg border border-violet-600 bg-transparent px-3 py-3 hover:bg-violet-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }

    .btn-active {
        @apply bg-violet-600 text-white hover:bg-transparent hover:text-white;
    }

    .menu-item-hover {
        @apply mx-2 mt-2 border-b-2 border-sky-400 opacity-0 duration-500 group-hover:opacity-100;
    }

    .caption-image {
        @apply absolute bottom-0 left-0 right-0 bg-white p-2 px-4  text-white opacity-0 duration-500 group-hover:bg-opacity-40 group-hover:opacity-100;
    }

    /*Testimonial Grid*/
    .testimonial-img {
        @apply h-10 w-10 rounded-full ring-2 ring-purple-300 hover:scale-105;
    }

    /*Clipboard Website*/
    .btn {
        @apply rounded-full px-8 py-4 text-xl text-white duration-300  hover:ring-opacity-75;
    }

    .btn-clipboard {
        @apply mx-auto w-auto shadow-xl;
    }

    .btn-shortly {
        @apply rounded-lg bg-cyan-btn py-2 hover:bg-cyan-300 hover:bg-boots;
    }

    .h3-heading {
        @apply text-3xl font-semibold text-gray-600 md:text-5xl;
    }

    .h4-heading {
        @apply text-2xl font-semibold text-gray-600;
    }

    .h5-heading {
        @apply pt-6 text-2xl font-semibold text-gray-600;
    }

    .description {
        @apply text-xl text-slate-400 md:text-2xl;
    }

    .clipboard-box {
        @apply mx-auto my-14 max-w-3xl space-y-8 px-8 md:my-20;
    }

    .box-link {
        @apply mx-auto mb-8 flex max-w-[850px] flex-col items-center justify-between rounded-lg bg-white p-6 shadow-lg md:flex-row;
    }

    /*Shortly Website*/
    .shortly-box {
        @apply relative max-w-[300px] space-y-6 rounded-lg bg-white py-10 pl-6 pr-8;
    }
    .shortly-icon {
        @apply mx-auto flex h-[80px] w-[80px] items-center rounded-full bg-slate-900 text-center md:absolute md:-top-[40px];
    }

    /*Bookmark Website*/
    .btn-bm {
        @apply inline-block rounded-lg py-3 px-4 text-white text-white duration-500;
    }
    .btn-red {
        @apply bg-red-500 py-3 px-4 hover:bg-red-600;
    }
    .btn-indigo {
        @apply border-2 border-indigo-500 bg-indigo-500 hover:bg-white hover:text-indigo-500;
    }
    .bookmark-box {
        @apply relative space-y-6 rounded-lg bg-white py-8 text-center drop-shadow-md;
    }

    .active {
        @apply border-b-2 border-red-500;
    }
    .links-bm {
        @apply uppercase text-gray-400 duration-500 hover:text-red-500;
    }
    .red {
        @apply text-red-500;
    }
    .tab-panel {
        @apply flex flex-col items-center justify-between space-x-4 border-none text-center md:flex-row md:text-left;
    }
}
