@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .box-price {
        @apply flex flex-col w-full max-w-sm py-10 space-y-6 bg-gray-800 border-[16px] border-gray-700 hover:border-violet-600 rounded-lg shadow-lg text-white;
    }

    .box-active {
        @apply border-violet-700;
    }

    .box-price-info {
        @apply flex flex-col space-y-2 py-6 px-8 mt-6 border-t border-gray-700 text-sm text-center;
    }

    .box-price-info-item {
        @apply flex items-center justify-center space-x-3
    }

    .btn-primary {
        @apply bg-transparent hover:bg-violet-600 hover:text-white w-[150px] px-3 py-3 mx-auto rounded-lg border border-violet-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }

    .btn-active {
        @apply bg-violet-600 hover:bg-transparent text-white hover:text-white;
    }

    .menu-item-hover {
        @apply mx-2 mt-2 duration-500 border-b-2 opacity-0 border-sky-400 group-hover:opacity-100
    }

    .caption-image {
        @apply absolute bottom-0 left-0 right-0 p-2 px-4 duration-500  opacity-0 bg-white group-hover:opacity-100 group-hover:bg-opacity-40;
    }

    /*Testimonial Grid*/
    .testimonial-img {
        @apply w-10 h-10 rounded-full ring-2 ring-purple-300 hover:scale-105;
    }

    /*Clipboard Website*/
    .btn {
        @apply w-auto px-8 py-4 mx-auto rounded-full duration-300 text-xl text-white shadow-xl  hover:ring-opacity-75;
    }

    .h3-heading {
        @apply font-semibold text-3xl md:text-5xl text-gray-600
    }
    .h4-heading {
        @apply font-semibold text-2xl text-gray-600
    }

    .h5-heading {
        @apply pt-6 font-semibold text-2xl text-gray-600
    }

    .description {
        @apply text-xl md:text-2xl text-slate-400;
    }

    .clipboard-box {
        @apply space-y-8 max-w-3xl mx-auto my-14 px-8 md:my-20 ;
    }

}